<!-- Nội dung trang web -->
<div class="col-md-4">
	<h2>Contact Us</h2>
		<address>
			<strong>lab01-1412274-1412316</strong>
				<br>227 Nguyễn Văn Cừ
				<br>Quận 5, TP. Hồ Chí Minh
				<br>
		</address>
		<address>
			<abbr title="Phone">Phone:</abbr>(123) 456-7890
			<br>
			<abbr title="Email">Email:</abbr> <a href="mailto:#">name@example.com</a>
		</address>
</div>
